.swiper-container {
    margin-top: 80px;
    width: 100%;
    height: 600px;
}

.mgalery{
    width: 1000px;
    height: 550px;
}

.swiper-slide {

    /* Center slide text vertically */

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



.mainBox{

    position: relative;
    background-color: white;
    width:1216px;
}

.menu{
    width: 90.5%;
    margin-top: 5%;
    margin-left: 4.5%;
    position: absolute;

}

.menu>ul>li{
    display:inline;
    padding:10px ;
    position: relative;
    top:40px;
    left:4%;
    font-family: Arial,serif;
    font-size: 20px;

}

.menu>ul>li>a{
    text-decoration: none;
    color: black;
}

.menu>h1{
    font-family: Arial,Serif;
    text-align: center;
    width: 100%;
    margin-top: 20%;
    margin-left: 0;
    font-size: 60px;
}

.menu>h2{

    font-family: Arial,Serif;
    text-align: center;
    margin-top: 60px;
    margin-left: 0;
    font-size: 30px;
}

.imgManu{
    height:300px;
    width:68%;
    margin-top: 50px;
    margin-left: 16%;
}

.button {
    display: inline-block;
    text-align: center;
    width: 40%;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.7s;
    margin-left: 30%;
}

.button1 {
    text-align: center;
    padding: 15px 72px;
    background-color: white;
    color: black;
    border: 2px solid orangered;
    margin-top: 1%;
}

.button1:hover {
    background-color: orangered; /* Green */
    color: white;
}

.button2 {
    padding: 15px 72px;
    background-color: white;
    color: black;
    border: 2px solid orangered;
    margin-top: 10%;
}

.button2:hover {
    background-color: orangered; /* Green */
    color: white;
}

.logoBanner{
    position: absolute;
    margin-top: 3%;
    margin-left: 70%;
    width: 25%;
    height: 150px;

}

.manuBackground{

    position: absolute;
    width: 1215px;
    height: 700px;
    background-image: url("/images/image3.gif");
}

.manuBackground>img{
    margin: 0 0;
    height:605px;
    width: 1216px;
    background-image: url("/images/image3.gif");
}

.menu>p{
    font-family: Arial;
    line-height: 1.5;
    font-size: 18px;
    text-space: 2px;
    width: 56%;
    text-align: center;
    margin-left: 22%;
    margin-top: 25px;
}



.centerManu {
    position: absolute;
    width: 90.5%;
    margin-top: 5%;
    margin-left: 4.5%;
    opacity: 0.7;
    background-color: white;
    filter: alpha(opacity=50);
    box-shadow: 0 0 50px #000;

}

.line{
    position: relative;
    margin-top: 55px;
    margin-left: 50px;
    width: 45%;
    height: 2px;
    background-color: orangered;
}

body::-webkit-scrollbar {
    width: 13px;
}

body::-webkit-scrollbar-thumb {
    background-color: orangered;
    outline: 1px solid slategrey;
}


@media only screen and (min-width: 300px){
    .mainBox{
        width:100%;
    }

    .menu{
        width: 90.5%;
    }

    .manuBackground{
        width: 100%;
    }

    .manuBackground>img{
        width: 100%;
    }

    .menu>h2{
        font-size: 135% ;
    }

    .menu>h1{
        font-size: 200%;
        margin-top: 70%;
    }

    .menu>p{
        font-size: 75%;
    }


    .menu>ul>li{
        font-size: 75%;
    }

    .line{
        width: 45%;

    }

    .button{
        padding: 15px 22px;
    }
}


@media only screen and (min-width: 400px){
    .menu>h2{
        font-size: 190% ;
    }

    .menu>p{
        font-size: 100%;
    }

    .menu>ul>li{
        font-size: 100%;
    }

    .menu>h1{
        font-size: 200%;
        margin-top: 15%;
    }

    .menu>swiper-container {
        margin-top: 15%;
    }
}


@media only screen and (min-width: 800px){
    .menu>h2{
        font-size: 190% ;
    }

    .menu>p{
        font-size: 100%;
    }

    .menu>ul>li{
        font-size: 100%;
    }

    .menu>h1{
        font-size: 200%;
        margin-top: 20%;
    }

    .swiper-container {
        margin-top: 15%;

    }

}




